/* canvas {
      background-color: white;
      border: 1px solid black
    } */

body {
  background: #212429 !important;
  height: auto;
}

body ::-webkit-scrollbar-track {
  background: #e1e1e1;
}

.swal2-container h1,
h2,
h3,
b {
  background-color: transparent !important;
}

.pusher {
  z-index: auto !important;
  background: #212429 !important;
}

.mainDivBackground {
  background: #212429 !important;
}

.btn {
  margin: 10px;
}

.file {
  margin: 10px;
}

.form-control {
  height: 50%;
}

/* div { */
/*overflow: hidden; 이거 끄니까 코드미러 넘버링나옴 */
/* height: auto;
} */

#runButton1 {
  cursor: pointer;
  position: absolute;
  right: 50px;
  top: 12px;
  display: inline-block;
  width: 19px;
  height: 20px;
  background: url(../play.png);
}

#button_console_clear {
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 10px;
  display: inline-block;
  width: 16px;
  height: 22px;
  background: url(../clear.png);
}

#runButton1:hover {
  background: url(../play_over.png);
}

#button_console_clear:hover {
  background: url(../clear_over.png);
}

#exeArea {
  background-color: #1e1e1e;
  border: none;
  color: #fff;
  flex: 1;
}

#exeArea::selection {
  background: palegreen;
  color: black;
}

.navbar > .btnDiv > .d-flex {
  justify-content: space-between;
}

.navbar .blockFileLoad {
  padding: 8px 40px 8px 8px;
  background-color: #1e1e20;
  font-size: 14px;
  border-radius: 2px;
}

.blockFileLoad:hover ~ .codebBtn {
  background-color: #7949ff;
}

.navbar #file {
  display: none;
}

.navbar label {
  margin-bottom: 0 !important;
}

.navbar label span {
  display: inline-block;
}

.btn-group {
  /* margin-left: 30px; */
}

.btn-group .codebBtn {
  margin: 0;
  border-radius: 0;
}

.btn-group .codebBtn:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn-group .codebBtn:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.codebBtn:hover {
  background-color: #7949ff;
}

.workspaceBtns {
  position: absolute;
  right: 14px;
  top: 53%;
  transform: translateY(-50%);
  display: inline-block;
  height: 28px;
}

.workspaceFocus {
  cursor: pointer;
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../focus.png);
}

.workspacePlus {
  cursor: pointer;
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../plus.png);
}

.workspaceMinus {
  cursor: pointer;
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(../minus.png);
}

.codebBtn {
  cursor: pointer;
  padding: 10px;
  background-color: #565656;
  border-radius: 10px;
  font-size: 13px;
  box-shadow: 0px 1px 2px rgb(255 255 255 / 40%) inset,
    0px 2px 5px rgb(0 0 0 / 80%);
  margin: 0 4px;
}

.codebBtn .codebBtnIcon {
  vertical-align: middle;
}

.codebBtn .codebBtnText {
  vertical-align: middle;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-left: 0;
  padding-right: 0;
}

.container-fluid,
#blocklyDiv,
#codeDiv {
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  background-color: #212429 !important;
  min-height: 78px;
  border-bottom: 1px solid #393954;
}
/* 
#codeDiv {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px; 
  display: flex;
  flex-direction: column;
} */

.container-fluid > .row {
  margin-right: 0;
  margin-left: 0;
}

.blocklySvg {
  background-color: #1e1e1e !important;
}

.container-fluid > .row {
  background-color: #212429;
}

.blocklyMainBackground {
  stroke-width: 0 !important;
}

.windowTitle {
  padding: 10px 20px 10px 34px;
  color: #00ffab;
  position: relative;
  font-size: 16px;
  border-bottom: 1px solid #0f0e0e;
  box-shadow: 0 1px 1px #202020;
  z-index: 99;
}

#codeDiv2 {
  flex: 1;
  /* margin-bottom: 15px;
  margin-top: 15px; */
  display: flex;
}

#codeDiv2 > div {
  flex: 1;
}

.windowTitle::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #00ffab;
}

.blockLayout {
  padding: 15px;
  padding-right: 0;
}

.btnDiv {
  width: calc(100% - 150px);
  display: flex;
  justify-content: space-between;
}

.borderR {
  /* border: 1px solid #5f6061; */
  box-shadow: 0px 1px 2px rgb(255 255 255 / 10%) inset,
    0px 2px 5px rgb(0 0 0 / 80%);
  border-radius: 10px;
  overflow: hidden;
}

.iconOne {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: blue;
}

.card {
  border-radius: 0;
  border: 0;
  background-color: transparent;
}

/* 
    .canvas {
    margin-left: 10px;
    } */

/* 스플릿바 추가와 함께 생성 (정윤) */
.splitDiv {
  height: 100%;
  width: 100%;
}
#bottomDiv {
  display: grid;
  background-color: #212429;
}
#bottomDiv, .workspaceDiv {
  height: calc(100vh - 120px);
}
#codeDiv {
  display: grid;
}

#pyCodeEditor {
  position: absolute;
  width: 100%;
  visibility: visible;
}

#pyCodeEditor span::selection {
  background: palegreen;
  color: black;
}

#jsCodeEditor {
  position: relative;
  visibility: hidden;
}

#jsCodeEditor span::selection {
  background: palegreen;
}

#asyncCodeEditor {
  position: absolute;
  width: 100%;
  visibility: hidden;
}

#asyncCodeEditor span::selection {
  background: palegreen;
}

#btn_block_code {
  margin-left: 10px;
}

/* 기본 로딩 이미지, 그래프 로딩 이미지 */

#loading_image1 {
  /* position: relative;
        padding-top: 1.5vh;
        padding-left: 3vh;
        padding-right: 2vh;
        height: 30px; */
}

#loading_image2 {
  /* position: relative;
        padding-top: 4vh;
        padding-left: 3vh;
        padding-right: 2vh;
        height: 30px; */
}

/* 기본 로딩 이미지, 그래프 로딩 이미지 */

/* ------------------- */

/* editorView 버튼 */

/* ------------------- */

.signOutPointing {
  cursor: pointer;
}

.signOutPointing:hover {
  color: #7949ff;
}

.loadingPosition {
  top: 9px;
  margin: 0px 20px;
}

.loadingSetting {
  margin: 0px !important;
  padding: 0px !important;
  border: 0px !important;
}

.loadingIcon {
  text-align: center;
  margin-right: 20px;
}

#loading_text {
  font-size: 11px;
}

.asgnDiv {
  margin-top: 100px;
}

.asgnClose {
  margin-right: 20px;
  margin-top: 20px;
}

.asgnTable {
  width: 50%;
  margin: auto;
}

.asgnTable td {
  color: white;
}

.modalLib {
  z-index: 1200 !important;
  height: 590px;
  margin: auto !important;
}

.libraryGrid {
  width: 100%;
  margin: auto !important;
}

.modalProjectType {
  z-index: 1200 !important;
  height: max-content;
  margin: auto !important;
}

.ProjectGrid {
  width: 90%;
  margin: auto !important;
}

.div-editor-divider {
  display: none;
  width: 90%;
  height: 2px;
  margin: 30px auto;
  background: #565656;
}

#div-menu-dropDown {
  position: absolute;
  top: 13px;
  right: 15px;
  cursor: pointer;
}

#div-menu-dropDown {
  position: absolute;
  top: 13px;
  right: 15px;
  cursor: pointer;
}

#div-menu-dropDown:hover {
}

#div-menu-dropDown .div-menu-wrapper {
  position: absolute;
  right: 20px;
  display: none;
  width: 100px;
  min-height: 60px;
  background: #414141;
  border-radius: 15px;
}

#div-menu-dropDown .div-menu-wrapper .menu-kinds {
  width: 100%;
  font-size: 14px;
  text-align: center;
  margin: 0;
  color: #ffffff;
}

/* divider */

#div-menu-dropDown .div-menu-wrapper .menu-kinds:after {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  margin: 5px auto;
  background-color: #5d5b5b;
}
