@media screen and (min-width:960px) and (max-width:1660px) {
    .btnDiv {
        flex-direction: column;
    }
    .btnDiv>.d-flex:nth-child(1) {
        margin: 30px 0 30px 0 !important;
    }
    .btnDiv>.d-flex:nth-child(2) {
        margin: 10px 0 10px 0 !important;
    }
    .navbar>.btnDiv>.d-flex {
        justify-content: flex-end;
    }
}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/

@media screen and (min-width:400px) and (max-width:960px) {
    .btnDiv>.d-flex:nth-child(1) {
        margin-top: 30px !important;
    }
    .btnDiv>.d-flex:nth-child(3) {
        margin-bottom: 30px !important;
    }
    .navbar {
        display: block;
        padding-top: 30px;
    }
    .navbar-brand {
        display: block;
        width: 140px;
        margin: 0 auto;
        padding-top: 1rem;
    }
    .btnDiv {
        width: 100%;
    }
    .div-wrap-pull-localBlock {
        display: inline-block;
    }
    .codebBtn {
        display: inline-block;
        height: 45px !important;
    }
    .btnDiv {
        display: block !important;
        justify-content: unset;
    }
    .btn-group {
        margin: 0;
    }
    .div-editor-divider {
        display: block;
    }
    .navbar>.btnDiv>.d-flex {
        display: flex;
        justify-content: center;
    }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/

@media screen and (max-width:768px) {
    .btn-group {
        margin-top: 30px;
        margin-left: 30px;
    }
}

@media screen and (max-width: 626px) {
    .codebBtn-mobile-size {
        margin-top: 30px;
    }
}

@media screen and (max-width: 612px) {
    #exit_button {
        margin-top: 30px;
    }
}

@media screen and (max-width: 524px) {
    #sidebar_graph {
        margin-top: 30px;
    }
}

/* 
@media screen and (max-width:480px) {} */