/* zeynepjs menu styles */

#zeynep-modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  cursor: pointer;
}

.zeynep {
  width: 295px;
  color: #404143;
  background-color: #212429;
  font-family: 'Montserrat', sans-serif;
}

.zeynep ul {
  list-style-type: none;
  padding: 0;
  padding-left: 20px;
  -webkit-overflow-scrolling: touch;
}

.zeynep ul>li {
  display: block;
}

.zeynep ul>li>a {
  color: #FFFFFF;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 18px 20px;
  text-decoration: none;
  transition: all 150ms;
}

.zeynep ul>li>a:hover {
  background-color: #393954;
  border-radius: 3px;
}

.zeynep ul>li:not(:last-child)>a {
  border-bottom: 1px solid #393954;
}

.zeynep ul>li.has-submenu>a {
  background-image: url("./submenu-arrow.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;
  background-size: 8px 14px;
}

.zeynep ul>li.has-submenu>a:hover {
  background-image: url("./submenu-arrow-active.svg");
}

/* zeynepjs submenu styles */

.zeynep .submenu {
  background-color: #212429;
  left: 295px;
}

.zeynep .submenu-header {
  background-image: url("./menu-back.svg");
  background-position: left 20px center;
  background-repeat: no-repeat;
  background-size: 8px 14px;
  border-bottom: solid 1px #efefef;
  cursor: pointer;
  position: relative;
}

.zeynep .submenu-header>a {
  color: #FFFFFF;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 18px 20px;
  padding-left: 40px;
  text-decoration: none;
}

.zeynep .submenu-header>a:hover {
  color: #eeeeee;
}

.zeynep .submenu-header>a:before {
  background-image: url("./submenu-arrow.svg");
  background-position: right 20px center;
  background-repeat: no-repeat;
  background-size: 8px 14px;
  content: "";
  height: 100%;
  left: 26px;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 20px;
}

.zeynep .submenu>label {
  color: #ffffff;
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 19px;
  opacity: .5;
  padding-left: 40px;
  width: 100%;
  cursor: default;
}

/* left side menu specific styles */

body {
  left: 0;
}

.zeynep-opened body {
  overflow: hidden;
}

.zeynep {
  right: auto;
  left: 0;
}

/*!
* zeynepjs v2.1.4
* A light-weight multi-level jQuery side menu plugin.
* It's fully customizable and is compatible with modern browsers such as Google Chrome, Mozilla Firefox, Safari, Edge and Internet Explorer
* MIT License
* by Huseyin ELMAS
*/

.zeynep {
  bottom: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  z-index: 1011;
}

.zeynep:not(.no-transition), .zeynep .submenu:not(.no-transition) {
  transition: all 250ms;
}

.zeynep-overlay {
  background-color: rgba(0, 0, 0, .42);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1010;
}

.zeynep-opened .zeynep-overlay {
  display: block;
}

.zeynep.opened {
  pointer-events: auto;
  transform: translateX(0px);
}

.zeynep.submenu-opened {
  overflow: hidden;
}

.zeynep .submenu {
  bottom: 0;
  min-height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  /* pointer-events:none; */
  position: fixed;
  top: 0;
  width: 100%;
}

.zeynep .submenu.opened {
  left: 0;
  pointer-events: auto;
}

.zeynep .submenu.opened:not(.current) {
  overflow: hidden;
}